<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <h1>NEUNETIC</h1>
        <p class="subtitle">Gothic baroque fantasy</p>
    </div>

    <nav class="main-navigation">
        <div class="nav-container">
            <ul class="nav-links">
                <li><a href="/">Illustration</a></li>
                <!--  <li><a href="/">Major Arcana</a></li> -->               
                <li><a href="/sketches/">Sketches</a></li>    
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </nav>

    <header class="page-header">
        <h2>{{ title }}</h2>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer class="site-footer">
        <p>&copy; 2025 Suhayb Abdi</p>
    </footer>
</body>
</html>